* {
  box-sizing: border-box;
}

body {
  display: flex;
  place-content: center;
  flex-flow: row wrap;
}

div {
  display: grid;
  place-items: center;
  border: 2px solid salmon;
  background: sandybrown;
  width: 10rem;
  height: 10rem;
  margin: 0rem 1rem;
}

#d1:hover {
  border: 5px inset #ff8296;
  background: lightpink;
}

#d2:hover {
  border: 5px double #ca0000;
  background: orangered;
}

#d3:hover {
  border: 5px dashed green;
  background: greenyellow;
}