@charset "UTF-8";

/* Conf. Gerais */
@media all {
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html,
    body {
        font-family: Arial, Helvetica, sans-serif;
        height: 100vw;
        width: 100vw;
    }
    }

/* Conf. Retrato */
@media screen and (orientation: portrait) {
    body {
        background: url('../imgs/cev-portrait.jpg') no-repeat center
            bottom/cover;
    }
}

/* Conf. Paisagem */
@media screen and (orientation: landscape) {
    body {
        background: url('../imgs/cev-landscape.jpg') no-repeat left
            bottom/cover fixed;
    }
}